# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          #  - repo
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: dream2333
          template: classic
          base: header, activity, community, metadata
          config_timezone: Asia/Shanghai
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 3
          plugin_activity_load: 300
          plugin_activity_skipped: dream2333
          plugin_activity_visibility: all
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_ignored: jupyter notebook, html, css
          plugin_languages_limit: 8
          plugin_languages_details: lines,  percentage
          plugin_languages_recent_categories: markup, programming
          plugin_languages_sections: most-used
          plugin_languages_threshold: 1%
          plugin_followup: yes
          plugin_followup_archived: yes
          plugin_followup_sections: user
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_types: commit,pull_request
          repositories_skipped: section_crawler,YRX-Web-Reverse-OJ
          plugin_leetcode: no
          plugin_leetcode_sections: solved, skills, recent
